:root {
    --color-primary:blue;
    --color-secondary:gold;
    --color-tertiary: #DDDDDD;
    --text-primary: black;
    --text-secondary: white;
    --text-tertiary:purple;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.blocoPrincipal {
    
    position: absolute;
    width: 100%;
    height: 1200px;
    background-color:var(--text-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
    align-content: flex-start;
}


.bloco img {
    width: 100%;
    height: 100%;
}

.bloco h2 {
    
    color: var(--text-secondary);
    font-size: 30px;
    text-decoration: none;
}

.bloco a {
    font-weight: 600;
}

.bloco {
    background-color: var(--color-secondary);
    height: 15%;
    width: 15%;
    margin-top: 20px;
    padding: 32px 12px;
    transition: .5s ease-in-out;
    cursor: pointer;
    
    

}

.bloco:hover {
    transform: scale(1.1);
    filter: brightness(200%);

}