* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

body{
    background-color:beige;
}
header {
    position: absolute;
    background-color: black;
    width: 1366px;
    height: 100px;
    left: 0px;
    top: 0px;
}

header .menu {
    color: white;
    flex-direction: row;    
 
}


header .logoTipo {
    color: white;
    width: 200px;
    height: 200px;

}

.logoTipo .imgLogo {
    background-image: url('../images/logoPizza-removebg-preview.png');
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    z-index: 10;
    top: 0;
    margin-top: 15px;

}

.nav {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

/* Flex Item */
a {
    /* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
    position: relative;
    flex: 0.1;
    text-align: left;
    font-size: 1.1em;
    color: white;
    top: 0;
    margin-top: -170px;
    z-index: 20;
    text-decoration: none;  
}


h1 {
    position: absolute;
    text-align: start;
    font-size: 1.25em;
    top: 0;
    justify-content: center;
    font-weight: normal;
    z-index: 20;
    margin-top: 30px;
    padding-left: 100px;
}

header .red {
    color: red;
    font-weight: 800;
    font-size: 30px;
}

header .green {
    color: green;
    font-weight: 800;
    font-size: 30px;
}
.container-delivery {
    display: flex;
    position: relative;
    width: 960px;
    height: 358px;
    left: 19px;
    top: 135px;
    
    background: url(delivery.jpg);
    border-radius: 5px;
}

.container-delivery .delivery {
    background-image: url('../images/bg_delivey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 350px;
    top: 0;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 55%);
}

.container-delivery .menu {
    width: 490px;
    height: 350px;
    top: 0;
    margin: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 55%);
}

.container-delivery ol {
    position: absolute;
    width: 210.44px;
    height: 53px;
    left: 533px;
    top: 127px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;

    color: #222222;

}


.container-delivery .delivery h2 {
    text-align: center;
    color: red;

}

.container-delivery .menu h2{
    text-align: center;
    color:red;
    padding-top: 30px;
}

.container-delivery span {
    color: yellow;
}




footer {
    position: absolute;
    background-color: #222;
    display: flex;
    align-items: center;
    color: white;
    width: 1366px;
    height: 150px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    justify-content: space-between;
    top: 520px;
   
}

footer h1{
    margin-left: 1024px;
    margin-top: 50px;
    justify-content: right;
    text-align: right;
}

footer img {
    height: 90px;
    width: 90px;
    z-index: 100;
    top: 520;
    margin-right: 250px;
    

}
footer .red {
    color: red;
    font-weight: 800;
    font-size: 30px;
    
}


footer .green {
    color: green;
    font-weight: 800;
    font-size: 30px;
}

.nav-footer {
    display: flex;
    max-width: 1024px;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    flex: 1;
    padding-left: 20px;
    
    
}
.nav-footer a {
    position: absolute;
    letter-spacing: 0em;  
    text-decoration: none;  
    flex: 1.5em;
    text-align: left;
    flex-direction: column;
    font-size: 1.1em;
    color: white;
    top: 0;
    margin-top: 20px;
    z-index: 20;    
}
